html {
	background-color: #FFFFFF;
	font-size: 11px;
	font-family: "TruenoRegular", 'sans-serif'; 
}

body {
	width: device-width;
}

.history {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  column-gap: 50px;
  grid-auto-rows: minmax(100px, auto);
}
.januari {
  grid-column: 2 / 3;
  grid-row: 1;
}
.1 {
  grid-column: 1 / 3;
  grid-row: 1;
}
.2 {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.3 {
  grid-column: 1;
  grid-row: 2 / 5;
}
.4 {
  grid-column: 10;
  grid-row: 3;
}
.5 {
  grid-column: 2;
  grid-row: 4;
}
.6 {
  grid-column: 3;
  grid-row: 4;
}
.7 {
  grid-column: ;
  grid-row: 4;
}
.8 {
  grid-column: 3;
  grid-row: 4;
}
.9 {
  grid-column: 3;
  grid-row: 4;
}
.10 {
  grid-column: 3;
  grid-row: 4;
}
.11 {
  grid-column: 3;
  grid-row: 4;
}
.12 {
  grid-column: 3;
  grid-row: 4;
} 


h1 {
	color: #00488a;
	color: #5521AA;
	font-size: 40pt;
	font-family: 'TruenoRegular';
	font-weight: normal;
	font-style: normal;
	text-align: center;
}

h2 {
	margin: 0 auto;
	font-size: 30pt;
	font-family: 'TruenoRegular';
	font-weight: normal;
	font-style: normal;
	margin: 10px 10px 25px 0px;
}

h3 {
	margin: 0 auto;
	color: #173979B3;
	color: #5b506d;	
	font-size: 20pt;
	font-family: 'TruenoRegular';
	font-weight: normal;
	font-style: normal;
}
h4 {
	margin: 0 auto;
	color: #173979B3;
	font-size: 17pt;
	font-family: 'TruenoRegular';
	font-weight: normal;
	font-style: normal;
}

p {
	color: black;
	width: 100%;
	font-family: 'TruenoRegular';
	font-weight: normal; 
	font-style: normal;
	font-size: 18px; 
	line-height: 30px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

img {
	display: block;
	margin: 0 auto;
}



#NavBar{
	background-color: #173979B3;
	background-color: #5521AA;
	margin: 10px 10px 50px 10px;
	width: 90%;
	font-size: 24px;
	text-align: center;
	padding: 0 50px;
	border-radius: 0.75em; /*afgeronde hoeken*/
}

#NavBar li{
	display: inline;
}

#NavBar a {
  outline: none;
  text-decoration: none;
  display: inline-block;
  width: 22%;
  margin-right: 0.625%;
  text-align: center;
  line-height: 3.5;
  color: black;
}

#NavBar li:last-child a {
  margin-right: 0;
}

#NavBar a:link, a:visited, a:focus {
  background: none;
}

#NavBar a:hover {
  background: #461B8C;
}

#Main {
	/*width: 100%; */
	width: 90%;
	/*padding: 20px 20px 20px 20px;*/
	margin: 0px 0px 0px 50px;
}

#Copyright {
	/*width: 100%; */
	width: 90%;
	/*padding: 20px 20px 20px 20px;*/
	margin: 0px 0px 0px 50px;
}

